h1{
    text-align: center;
    margin: 25%;
}

p{
    text-align: center;
}

table{
    width: 100%;
}

button{
    padding: 10px;
}

.inicioSesion{
    text-align: center;
    margin: 20%;

    & label {
        font-size: 20px;
        padding: 10px;
    }
    & input {
        font-size: 20px;
        margin: 10px;
        width: 20em;
    }

}

#errorLabel{
    color: red;
}