h1{
    text-align: center;
    margin: 25%;
}

p{
    text-align: center;
}

table{
    width: 100%;
}

button{
    padding: 10px;
}

.inicioSesion{
    text-align: center;
    margin: 20%;

    & label {
        font-size: 20px;
        padding: 10px;
    }
    & input {
        font-size: 20px;
        margin: 10px;
        width: 20em;
    }

}

#errorLabel{
    color: red;
}

.bienvenida{
    margin-top: 20vh;
    margin-bottom: 5vh;
}

.preguntas{
    text-align: center;
    margin-left: 40vh;
}

.cuestionario{
    display: flex;
    min-width: 70vh;
}

.izquierda{
    padding-right: 20px;
    width: 50%;
    border-right: 1px solid grey;
    & table tr{
        height: 40px;

    }
    & #pregunta, #puntos {
        width: 100%;
        }
    & .botones {
        text-align: center;
        & button {
            width: 10vh;
        }
    }
}
.derecha{
    width: 50%;
    border-left: 1px solid grey;
    padding-left: 20px;
    & .puntuacion{
        text-align: center;
    }
}